{% extends "accounts/base.html" %}
{% load i18n %}
{% block content %}

<div id="loginModal" class="modal show" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
  <div class="modal-content">
      <div class="modal-header">
          <h1 class="text-center">Autenticação</h1>
      </div>
      <div class="modal-body">
          <form class="form col-md-12 center-block" method="post" action="{% url 'django.contrib.auth.views.login' %}">
            {% csrf_token %}
            <div class="form-group">
              <input id="id_username" name="username" type="text" class="form-control input-lg" placeholder="Usuário">
            </div>
            <div class="form-group">
              <input id="id_password" name="password" type="password" class="form-control input-lg" placeholder="Senha">
            </div>
            <div class="form-group">
              <button class="btn btn-primary btn-lg btn-block">{% trans "Log in" %}</button>
              <span><a href="{% url 'django.contrib.auth.views.password_reset' %}">{% trans "Forgot password?" %}</a></span>
              <span class="pull-right"><a href="{% url 'user_creation' %}">{% trans "Create a new user" %}</a></span>
            </div>
            <input type="hidden" name="next" value="{{ next }}" />
          </form>
      </div>
      <div class="modal-footer">
          <div class="col-md-12">
            {% if form.errors %}
                {% trans "Your username and password didn't match. Please try again." %}
            {% endif %}
          </div>
      </div>
  </div>
  </div>
</div>
{% endblock content %}

{#template tag do django para criar os campos de nome e de senha#}
{#{{ form.username.label_tag }}#}
{#{{ form.username }}#}
{##}
{#{{ form.password.label_tag }}#}
{#{{ form.password }}#}
